<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://stark-everglades-15494.herokuapp.com/" class="portfolio-box">
                    <%= image_tag "creative/portfolio/twitter.png", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Web App
                            </div>
                            <div class="project-name">
                                Twitter Clone
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://infinite-harbor-41135.herokuapp.com/" class="portfolio-box">
                    <%= image_tag "creative/portfolio/meetup.png", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Web App
                            </div>
                            <div class="project-name">
                                Meetup Clone
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/lbrian357/chess" class="portfolio-box">
                    <%= image_tag "creative/portfolio/chess.png", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Game
                            </div>
                            <div class="project-name">
                                Chess Engine
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://intense-beach-72311.herokuapp.com/" class="portfolio-box">
                    <%= image_tag "creative/portfolio/caesar-cipher.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Web App
                            </div>
                            <div class="project-name">
                                Caeser Cipher
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://powerful-reef-41549.herokuapp.com/" class="portfolio-box">
                    <%= image_tag "creative/portfolio/mastermind.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Web Game App
                            </div>
                            <div class="project-name">
                                Mastermind
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://thawing-temple-60335.herokuapp.com/" class="portfolio-box">
                    <%= image_tag "creative/portfolio/etch-a-sketch.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Web Game App
                            </div>
                            <div class="project-name">
                                Etch-A-Sketch
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

